.card-layout {
    columns: 4 200px;
    column-gap: normal;
    font-family: Garamond;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-decoration: solid;
    justify-content: center;
}

